/* @import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Fira+Sans:wght@500;700&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Helvetica Now Display Regular";
    src: url("/assets/fonts/helvetica-now/HelveticaNowDisplay-Regular.woff2")
}

.no-scroll {
    overflow: hidden;
}

@font-face {
    font-family: "Helvetica Now Display Title";
    src: url("/assets/fonts/helvetica-now/HelveticaNowDisplay-ExtBlk.woff2")
}

body, h1, h2, h3, p, button {
    font-family: 'TT', Arial, sans-serif;
  }

@font-face {
    font-family: 'Akira Expanded';
    font-style: normal;
    font-weight: 800;
    src: local('Akira Expanded'), url('https://fonts.cdnfonts.com/s/37506/Akira Expanded Demo.woff') format('woff');
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

.bounce-in {
    animation: bounce 3s;
}

*::-webkit-media-controls-panel {
    display: none!important;
    -webkit-appearance: none;
  }
  
  /* Old shadow dom for play button */
  
  *::-webkit-media-controls-play-button {
    display: none!important;
    -webkit-appearance: none;
  }
  
  /* New shadow dom for play button */
  
  /* This one works! */
  
  *::-webkit-media-controls-start-playback-button {
    display: none!important;
    -webkit-appearance: none;
  }

  .extended-strike {
    position: relative;
    display: inline-block;  /* Important for rendering the pseudo-element */
  }
  
  .extended-strike::after {
    content: "";
    position: absolute;
    left: -5px;
    right: -5px;
    height: 1.5px;
    background-color: white;  /* Setting the line color to white */
    top: 50%;
    z-index: -1; /* Place the line behind the text */
  }
  
  @keyframes customFadeOut {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    75% {
        transform: scale(1.5);
        opacity: 0.4;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

/* Initial state */
.fade-in-start {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/* Fade-in state after 3 seconds */
.fade-in-end {
  opacity: 1;
}

@keyframes bounceIn {
  0% {
      transform: scale(0.1);
      opacity: 0;
  }
  60% {
      transform: scale(1.2);
      opacity: 1;
  }
  100% {
      transform: scale(1);
  }
}

.bounce-in {
  animation: bounceIn 2.5s forwards;
}

.fade-in-start {
  opacity: 0;
}

.fade-in-end {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}



button {
  transition: color 0.3s, box-shadow 0.3s; /* Added box-shadow to transition */
}

button:hover {
  color: #aaa;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 1); /* Dark glow effect */
}

